In [2]:
import sqlite3 as sql

In [4]:
db = sql.connect("sqlitedata.db")

In [6]:
print(dir(db))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [8]:
c = db.cursor()

In [10]:
c.execute("""create table users(id int, name varchar(25), city varchar(25))""")

In [18]:
c.execute("""insert into users(id, name, city) values(1, 'vraj', 'Ahmedabad')""")

In [19]:
db.commit()

In [22]:
c.execute("""delete from users""")

In [23]:
db.commit()

In [24]:
c.execute("""insert into users(id, name, city) values(1, 'vraj', 'Ahmedabad')""")

In [25]:
db.commit()

In [29]:
d = [
{
    'id' : 2,
    'name' : 'soham',
    'city' : 'Ahmedabad'
},
{
    'id' : 3,
    'name' : 'ashish',
    'city' : 'Ahmedabad'  
}
]

In [32]:
for a in d:
    print(tuple(a.values()))

(2, 'soham', 'Ahmedabad')
(3, 'ashish', 'Ahmedabad')

In [33]:
for a in d:
    cmd=f"""insert into users(id, name, city) values{tuple(a.values())}"""
    c.execute(cmd)

In [34]:
db.commit()

In [36]:
n=int(input('enter how many id you want: '))
for i in range(0,n+1):
    print(i)

0
1
2
3
4
5